# Idea Project
.idea/
*.iml

# Compiled Output
/target/
/out/

# Test files
/testfile/
testfile.txt
output.txt
input.txt
pcoderesult.txt
mips.txt
InstructionStatistics.txt

# Archives
*.zip
*.jar

# Notes and documents
/doc/