# Your Configuration (May have private content)
*.json
!cg_config_sample.json

# Files you may submit
*.zip
*.rar
*.jar
*.c
*.cpp
*.java
*.py
*.txt
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf

# Judge Result
*.html
